.container{
  width: 10vw;
  height: 92vh;
  background-color: red;
  float: left;
}
.components{
  position: relative;
}
.animate::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 0.5vw;
  background-color: green;
  top: 0;
  left: 0;
  opacity: 0;
  transform: scaleY(0);
  transition: all 0.5s;
}
.animate:hover::before{
  opacity: 1;
  transform: scaleY(1);
}
p{
  font-size: 1vw;
}
.subcat{
  margin-left: 2vw;
}
mat-toolbar{
  height: 8vh;
}
