<div class="main">
  <div class="h5">Products</div>
<div class="card-columns">
  <div class="card bg-dark" *ngFor="let product of items">
    <div class="card-front">
      <div class="container h-100 align-middle">
        <div class="h5 text-center">{{product.item.brand}} {{product.item.model}}</div>
      </div>
    </div>
    <div class="card-back">
      <div class="card-header" (click)="itemDetail(product.item.model)" [routerLink]="product.item.model">
        {{product.item.model}}
      </div>
      <div class="card-title">
        Name: {{product.item.model}}
      </div>
      <div class="card-text" *ngIf="product.about">
        About: {{product.item.about}}
      </div>
      <div class="card-text">
        Price: {{product.item.price}}
      </div>
      <button class="add_cart_button" mat-fab color="primary" (click)="addToCart(product.item.model)">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </div>
  </div>
</div>
</div>
<ng-container *ngTemplateOutlet="component"></ng-container>
<router-outlet></router-outlet>
