.card-columns {
  column-count: 5;
}
.add_cart_button{
  margin-bottom: 2vh;
  margin-left: 2vw;
}
.container{
  height: 92vh;
  padding-top: 5vh;
  z-index: 2;
}
.main::-webkit-scrollbar{
  display: none;
}
.smartphones{
  background-color: #1C8ADB;
}
.pcs{
  background-color: deepskyblue;
}
.monitors{
  background-color: steelblue;
}
.noitems{
  margin-top: 25vh;
  border-radius: 1vw;
}
.noitemsinfo{
  border-radius: 1vw;
}
.container-fluid{
  height: 75vh;
  overflow: auto;
  padding-top: 15px;
  border: 0.25vw solid steelblue !important;
  border-radius: 0.5vw;
}
.container-fluid::-webkit-scrollbar{
  display: none;
}
.h2{
  padding-left: 15px;
  border: 0.25vw solid steelblue !important;
  border-radius: 0.5vw;
}
