.card-columns {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7vh;
  column-count: 4;
}

.card{
  color: white;
  transition: all 1s ease;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
.card-front, .card-back{
  backface-visibility: hidden;
}
.card-back{
  transform: rotateY(180deg);
}

.card:hover{
  transform: rotateY(180deg);
}

.card-header{
  text-align: center;
}

.add_cart_button{
  margin-bottom: 2vh;
  margin-left: 2vw;
}

.main{
  width: 80vw;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
  margin-top: 7vh;
}

.main::-webkit-scrollbar{
  display: none;
}

