<div class="container">
  <div class="h2">Products</div>
  <div *ngIf="!emptyItems" class="container-fluid">
    <div class="card-columns">
      <div [ngClass]="{smartphones: product.category === 'Smartphones', pcs: product.category === 'PCs', monitors: product.category === 'Monitors'}"
           class="card pl-3 pr-3"
           *ngFor="let product of items"
           (click)="itemDetail(product.id, product.model, product.brand, product.category)">
        <div class="align-middle mt-5 mb-5">
          <div class="h5 text-center">{{product.brand}} {{product.model}}</div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div *ngIf="emptyItems" class="container text-center noitems">
    <div class="h1 pt-5 pb-5 bg-info noitemsinfo">No items found</div>
  </div>
</div>
