<div [ngClass]="{updatingUser: updatingUser === true}" class="container-fluid bg-primary">
  <div class="h1 bg-info text-center ml-auto mr-auto">User Info</div>
<div class="card bg-dark">
  <div class="card-header h2">Current User</div>
  <table class="table">
    <thead>
      <th>Email</th>
      <th>UID</th>
      <th>Display Name</th>
    </thead>
    <tbody>
      <tr>
        <td>{{email}}</td>
        <td>{{UID}}</td>
        <td>{{displayname}}</td>
      </tr>
    </tbody>
    </table>
  <div routerLink="updateUser" class="btn btn-warning" (click)="updatingUserActivate()">Update</div>
</div>
</div>
<router-outlet></router-outlet>


