.form-group{
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding-top: 2vh;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
}
.h2{
  width: 40vw;
  padding-bottom: 1vh;
  padding-top: 2.5vh;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-bottom: 2vh;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
}
.form-control{
  width: 35vw;
}

.btn-primary{
  margin-left: 2.5vw;
  margin-bottom: 2vh;
  margin-top: 1vh;
  font-size: 2.25vh;
  position: relative;
  width: 35vw;
}

label{
  margin-left: 2.5vw;
}

legend{
  padding-left: 1vw;
}

.main{
  padding-top: 7vh;
  width: 40vw;
  height: 92vh;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
  padding-bottom: 8vh;
}

.main::-webkit-scrollbar{
  display: none;
}
.fileUploadDiv {
  background-image: url("src/assets/icons/cloud-storage.svg");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: center;
  height: 35vh;
  width: 35vw;
  margin: 20px auto;
  border: 0.25rem dashed #1C8ADB;
  border-radius: 0.25rem;
}

.fileUploadDiv:hover {
  cursor: pointer;
  background-color: #9ecbec !important;
  opacity: 0.8;
}

.file{
  opacity: 0;
  height: 100%;
  width: 100%;
}

mat-progress-bar{
  width: 35vw;
  margin-top: 2vh;
}

.form-row{
  width: 35vw;
}

