<div class="container-fluid">
  <div *ngIf="emptyCart" class="h2 bg-dark">Shopping Cart</div>
  <table *ngIf="emptyCart" class="table table-dark">
    <thead class="thead-dark">
      <th>Brand</th>
      <th>Model</th>
      <th>Price</th>
      <th>Count</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let itemDetail of getItems.shopCartItemsArray">
        <td>{{itemDetail.brand}}</td>
        <td>{{itemDetail.model}}</td>
        <td>{{itemDetail.price}}</td>
        <td class="bg-dark">{{itemDetail.count}}</td>
        <td>
          <button mat-fab class="btn btn-danger mr-3" (click)="deleteItem(itemDetail.model)"><mat-icon>delete</mat-icon></button>
          <button mat-fab class="btn btn-secondary" (click)="showProductDetail(itemDetail.itemDetail)"><mat-icon>view_module</mat-icon></button>
        </td>
      </tr>
    </tbody>
  </table>
  <div  (click)="backToProducts()"
        class="h1 blockquote bg-primary p-5 w-50 text-center"
        matTooltip="Click and go back to find some product."
        *ngIf="!emptyCart">Shopping Cart is empty.</div>
</div>

