<mat-toolbar color="accent">
  <button *ngIf="productShow" mat-icon-button>
    <mat-icon (click)="openMenu()">menu</mat-icon>
  </button>
  <span>eShop</span>
  <span class="spacer"></span>
  <button *ngIf="canSearch" mat-icon-button>
    <mat-icon (click)="openDialogSearch()">search</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon (click)="changeComponent(1)">note_add</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon (click)="changeComponent(0)">dashboard</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon (click)="changeComponent(5)">shopping_cart</mat-icon>
  </button>
  <button *ngIf="isLoggin" mat-icon-button>
    <mat-icon [matMenuTriggerFor]="subUser">account_box</mat-icon>
  </button>
  <button *ngIf="!isLoggin" mat-icon-button>
    <mat-icon (click)="changeComponent(2)">login</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #subUser>
  <button (click)="changeComponent(4)" mat-menu-item>{{username}}</button>
  <button (click)="logoutClick()" mat-menu-item>Log Out</button>
</mat-menu>
<router-outlet></router-outlet>
