<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="navbar-brand">eShop</div>
  <div class="navbar-nav ml-auto">
    <a class="nav-item nav-link" *ngIf="isAdmin" (click)="changeComponent(1)">ADD Product</a>
    <a class="nav-item nav-link" (click)="changeComponent(0)">SHOW Items</a>
    <a class="nav-item nav-link" *ngIf="!isLoggin" (click)="changeComponent(2)">Login</a>
    <a class="nav-item nav-link" *ngIf="!isLoggin" (click)="changeComponent(3)">Register</a>
    <a class="nav-item nav-link dropdown dropdown-toggle" data-toggle="dropdown" *ngIf="isLoggin">{{username}}
      <div class="dropdown-menu bg-dark">
        <a class="dropdown-item nav-item nav-link bg-dark" (click)="logoutClick()">Logout</a>
        <a class="dropdown-item nav-item nav-link bg-dark" (click)="changeComponent(4)">Userinfo</a>
        <a class="dropdown-item nav-item nav-link bg-dark" (click)="changeComponent(5)">ShopCart</a>
      </div>
    </a>
  </div>
</nav>
